Hello, I am Hung Tran. Below is the basic python command code that I start to learn using Python from scratch. Most of the resources I use in the below come from Couresa courses (IBM Data Science Professional Certificate and Intro to Python & Java Programming - Penn Engineering) and Jupyter NBViewer. This notebook shows a basic printing function and data types.

#### Print the sentence

In [18]:
# Basic printing command:
print('Good morning')

# Concatenante multiple strings
print('Good morning','Everyone')

# Another way to concatenate two strings
print('Good morning', end =' ')
print('Everyone')

# Print the statement with seperator 
print('Good morning','Everyone', sep = ', ')

Good morning
Good morning Everyone
Good morning Everyone
Good morning, Everyone

In [25]:
#  Assign the numbers/values into one variable and print the result
a=10
b=10
print(a+b)

# Another example to print an assigned values and concatenate them. 
Sentence = 'Hello Everyone'
Sentence_1 = 'This is my first Python code.'
print(Sentence,Sentence_1,sep = '!')

20
Hello Everyone!This is my first Python code.

#### Four main types of data: interger (integer numbers), float (real numbers), string, and boolean (True or False).

In [3]:
# Show different types of 2.
type(2)

int

In [6]:
type(2.0)

float

In [15]:
type('2')

str

##### Boolean is the special type of data only having 2 values: True or False.

In [17]:
type(True)

bool

In [20]:
5 <= 10

True

In [35]:
bool(5 != 5)

False

In [34]:
# While 0 represents False in boolean type, other numbers show True as boolean data type.
print(bool(10))
print(bool(0))

True
False

#### Arithmetic operators

###### Special types of operators include: Interger Divison (//), Exponenet (**), and Modulus (%)

In [51]:
print('Addition:',12+7)
print('Subtraction:',12-7)
print('Multiplication:',12*7)
print('Division: '+ str(12/2))

Addition: 19
Subtraction: 5
Multiplication: 84
Division: 6.0

In [53]:
# Integer Division
print(3//2)

1

In [56]:
# Exponent
3**2

9

In [58]:
# Modulus
3%2

1

In [66]:
# Test if a number is even or odd: Use Modulus to find the remaining of a division. 
# If the division is 0, it is even number. Otherwise, it is ood number.
print(5%2)
print(10%2)

1
0

#### Casting

In [73]:
# Cast a result with float type into integer
print(17/3)
print(int(17/3))
# While int() function always round down numbers, round() function round into the nearest number
print('Integer Function:',int(17/3))
print('Round Function:',round(17/3))

5.666666666666667
5
Integer Function: 5
Round Function: 6

In [82]:
# Print the operation with str format:
print('The result of 4/2 is ' + str(4/2))
# Test if the number is even or odd and print it
print('Is 10 even number? ' + str(10%2 == 0))

The result of 4/2 is 2.0
Is 10 even number? True

#### Print the string with Title, Upper and Lower.

In [3]:
a="Welcome to my first python!"
print(a)

Welcome to my first python!

In [4]:
print(a.upper())

WELCOME TO MY FIRST PYTHON!

In [7]:
print(a.title())

Welcome To My First Python!

In [9]:
print(a.lower())

welcome to my first python!

#### Print strings and integers in the same sentence

In [10]:
# Use str() to transform an integer into a string type, then combine it with other strings 
c = 5+7
d = 'The result of 5+7 is '+ str(c)
print(d)

The result of 5+7 is 12

In [11]:
# Use , to combine a string and an interger. 
c = 5+7
d = 'The result of 5+7 is'
print(d,c)

The result of 5+7 is 12